<!DOCTYPE html>
<html>
    <style>

    </style>
<head>
<title>College Student Backtester</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>

<!-- Side Navigation -->
<nav class="w3-sidebar w3-bar-block w3-card w3-animate-left w3-center" style="display:none" id="mySidebar">
  <button class="w3-var-item w3-button" onclick="document.getElementById('createAccountModal').style.display='block'">Create Account</button>
  <button class="w3-bar-item w3-button" onclick="document.getElementById('id01').style.display='block'">Sign In</button>
  <a href="#" class="w3-bar-item w3-button">User Guide</a>
  <a href="#" class="w3-bar-item w3-button">Stats Meaning</a>
  <a href="#" class="w3-bar-item w3-button">About</a>
  <a></a>
  <button class="w3-bar-item w3-button" onclick="w3_close()">Close <i class="fa fa-remove"></i></button>
</nav>

<!-- Header -->
<header class="w3-container w3-theme w3-padding" id="myHeader">
  <i onclick="w3_open()" class="fa fa-bars w3-xlarge w3-button w3-theme"></i> 
  <div class="w3-center">
  <h4>Student Stock Trading Practice</h4>
  <h1 class="w3-xxxlarge w3-animate-bottom">Built with Python, Java, and Flask</h1>
    <div class="w3-padding-32">
      <button class="w3-btn w3-xlarge w3-dark-grey w3-hover-light-grey" onclick="document.getElementById('id01').style.display='block'" style="font-weight:900;">Sign In</button>
    </div>
  </div>
</header>

<!-- Sign in Modal -->
<div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-top">
        <header class="w3-container w3-theme-l1"> 
            <span onclick="document.getElementById('id01').style.display='none'"
            class="w3-button w3-display-topright">×</span>
            <h4>Sign In</h4>
        </header>
        <div class="w3-padding">
            <form id="login-form">
                <label for="username">Username:</label>
                <input class="w3-input" type="text" id="username" name="username" required><br>
                <label for="password">Password:</label>
                <input class="w3-input" type="password" id="password" name="password" required><br>
                <button class="w3-button w3-theme" type="submit">Sign In</button>
            </form>
        </div>
        <footer class="w3-container w3-theme-l1">
            <p></p>
        </footer>
    </div>
</div>
<!-- Create Account Modal -->
<div id="createAccountModal" class="w3-modal" style="display:none;">
    <div class="w3-modal-content w3-card-4 w3-animate-top">
        <header class="w3-container w3-theme-l1"> 
            <span onclick="document.getElementById('createAccountModal').style.display='none'"
            class="w3-button w3-display-topright">×</span>
            <h4>Create Account</h4>
        </header>
        <div class="w3-padding">
            <form id="create-account-form">
                <label for="new-username">Username:</label>
                <input class="w3-input" type="text" id="new-username" name="username" required><br>
                <label for="new-password">Password:</label>
                <input class="w3-input" type="password" id="new-password" name="password" required><br>
                <button class="w3-button w3-theme" type="submit">Create Account</button>
            </form>
        </div>
        <footer class="w3-container w3-theme-l1">
            <p></p>
        </footer>
    </div>
</div>


<div class="w3-row-padding w3-center w3-margin-top">
<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:460px">
  <h3>Responsive</h3><br>
  <i class="fa fa-desktop w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
  <p>Built-in responsiveness</p>
  <p>Automated Data collection and Preprocessing</p>
  <p>Flexible Portfolio Construction</p>
  <p>PC Tablet and Mobile</p>
  </div>
</div>

<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:460px">
  <h3>Functional</h3><br>
  <i class="fa fa-css3 w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
  <p>Includes date range specification</p>
  <p>Has room for implementing trading methods</p>
  <p>Fama French Statistic Model</p>
  <p>Easy to use GUI</p>
  </div>
</div>

<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:460px">
  <h3>Easy to Learn</h3><br>
  <i class="fa fa-diamond w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
  <p>Straightforward design</p>
  <p>Bold colors and shadows</p>
  <p>Computer Friendly</p>
  <p>User Guide Included</p>
  </div>
</div>
</div>

<div class="w3-container">
<hr>
<div class="w3-center">
  <h2>Methods</h2>
</div>

<div class="w3-row">
  <div class="w3-col w3-container m2 w3-red"><p>Equal Weight Portfolio</p></div>
  <div class="w3-col w3-container m2 w3-blue"><p>MarketCap Weight Portfolio</p></div>
  <div class="w3-col w3-container m2 w3-blue-grey"><p>Markowitz Theory</p></div>
  <div class="w3-col w3-container m2 w3-teal"><p>Fama French Analysis</p></div>
  <div class="w3-col w3-container m2 w3-yellow"><p>Figure Heavy</p></div>
  <div class="w3-col w3-container m2 w3-orange"><p>MACD</p></div>
</div>

     
<div class="w3-center">
  <h2>User Guide</h2>
  <p>Detailed description of how to use and implement trading methods in the backtester.</p>
</div>   

<header class="w3-container w3-blue-grey">
  <h2>Portfolio Creation</h2>
</header>

<div class="w3-padding w3-white w3-display-container">
  <h2>Understanding Built In Key Concepts</h2>
  </h2>
  <p>Portfolio -> A collection of financial investments like stocks, bonds, commodities, etc.
  </p>
  <p>
    Ticker Symbol -> A unique series of letters assigned to a security or stock. For example, "AAPL" is the ticker symbol for Apple Inc.
  </p>
   <p> Captial -> The amount of money you want to invest.
   </p>
   <p>
    Equal Weighting -> Allocation the same amount of money to each stock in your portfolio.
   </p>
   <h2>Equal Weight Portfolio</h2>
   <p>The 'equalWeightPortfolio' function is designed to help you create a balanced
     portfolio of stocks, where each stock has the same initial investment. This method is great for diversifying your investments
     evenly across multiple stocks.</p>
     <p>
        To start: The python script backing this site will ask for a list of tickers to create your portfolio with and an initial capital you want to implement.
        It will create an instance of the Portfolio class with appropriate specified start and end dates. The equalweightedportfolio function calculates the initial captial per stock by dividing the stock equally among all the stocks.
        The program will then create the stock instances with the tickers, add buy strategies to them, then add the stocks to the portfolio.
     </p>
   <h2>MarketCap Weighted Portfolio</h2>
  <p>The marketCapWeightedPortfolio function helps you create a portfolio where each stock's investment is proportional to its market capitalization (the total market value of a company's outstanding shares). This approach is useful for aligning your investments with the relative size and significance of each company in the market.</p>
  <p>Market Cap -> The total value of a company's outstanding shares of stock, calculated as stock price times the number of shares</p>
  <p>
    The MarketCap weighted portfolio function is similar to the equal weight portfolio. However, this function first calculates the total market capitalization of all the stocks in the ticker list by summing their individual market caps.
    The function will then calculate the weight of each stock based on its market cap in relation to the total market cap of the portfolio and allocate the initial captial proportionally to each stock based on this weight. It will then follow the same protocol as equal weight by creating stock instances and adding buy strategies.
  </p>
</div>
<div class="w3-padding w3-white w3-display-container">
    <h2>Markowitz</h2>
    <p>The markowitz function is designed to optimize your investment portfolio based on the principles of Modern Portfolio Theory, developed by Harry Markowitz. 
    This function aims to find the best combination of stocks that either maximizes returns for a given level of risk (Maximum Sharpe Ratio - MSR) or minimizes risk for a given level of returns (Global Minimum Volatility - GMV).</p>
   <p>Simple Returns -> The percent change in the value of an asset over a specific period.</p>
   <p>Annualized Returns -> The geometric average amount of money earned by an investment each year over a given time period (accounts for compounding).</p> 
   <p>Volatility -> A measure of the dispersion of returns for a given security or market index.</p>
   <p>Annualized Volatility -> The standard deviation of returns scaled to a yearl period.</p>
   <p>Covariance -> A measure of the degree to which two assets move in relation to each other.</p>
   <p>Correlation -> Ranging from -1 to 1, it is calculated as the covariance of two variables divided by the product of their standard deviations.</p>
   <p>Sharpe Ratio -> A measure of risk-adjusted return.</p>
   <p>Global Minimum Variance -> The porfolio with the lowest volatility, representing the least risky option.</p>
   <p>The markowtiz functon is run in the following way: it first adds the returns of each stock to a DataFrame. It will then run a Monte Carlo simulation to generate multiple portfolios with different weights.
        From these portfolios it will calculate the return and volatility for each portfolio. By doing this, it is able to find the portfolio with the maximum Sharpe ratio, or the global minimum volatility. And then it can plot the results.
    </p>
  </div>
  <header class="w3-container w3-blue-grey">
    <h2>How To Start</h2>
  </header>
  <h2>
    Creating a stock
  </h2>
  <p>
    This is how you create a stock I will try and implement an api to commmunicate with script
  </p>
  <h2>
    Creating a Portfolio
  </h2>
  <p> This is how you make a portfolio</p>
  <h2>
    Testing Methods
  </h2>
  <p>This is how you backtest</p>


<footer class="w3-container w3-blue-grey">
  <h5>Note</h5>
  <p class="w3-opacity">This application is purely for academic purposes and no important information should be given</p>
</footer>

<hr>
<div class="w3-center">
  <h2>Architecture</h2>
  <p>This backtesting application runs on two ends. This GUI, and a python backtesting script.</p>
</div>
</div>

<div class="w3-row-padding">

<div class="w3-half">
<div class="w3-card white">
  <div class="w3-container w3-indigo">
    <h3>GUI</h3>
  </div>
  <div class="w3-container">
  <h3 class="w3-text-indigo">Student Stock Trading Practice</h3>
  </div>
  <ul class="w3-ul w3-border-top">
    <li>
      <h3>Home Page</h3>
      <p>A User Guide and information center for the application.</p>
    </li>
    <li>
      <h3>Structered Input</h3>
      <p>A baseline interface for plug and chug testing methods for trading education.</p>
    </li>
    <li>
      <h3>Sandbox</h3>
      <p>An interface for you to implement your own trading strategies in Python.</p>
    </li>
  </ul>
</div>
</div>

<div class="w3-half">
<div class="w3-card white">
  <div class="w3-container w3-theme">
    <h3>Python Skeleton</h3>
  </div>
  <div class="w3-container">
  <h3 class="w3-text-theme">Stockbacktester.py</h3>
  </div>
  <ul class="w3-ul w3-border-top">
    <li>
      <h3>Stonk</h3>
      <p>The class in GetData for creating a stock with a buy or sell tag.</p>
    </li>
    <li>
      <h3>Portfolio</h3>
      <p>The class made to host a number of Stonk objects.</p>
    </li>
    <li>
      <h3>Analysis</h3>
      <p>A wide range of methods used to interact with Stonk and Portfolio that run the underbelly of the system</p>
    </li>
  </ul>
</div>
</div>
</div>

<div class="w3-container w3-center">
  <hr>
  <h3>Example Outputs</h3>
</div>

<div class="w3-row-padding"> 

<div class="w3-third">
<div class="w3-card">
  <img src="/pics/regression.jpg" alt="Car1" style="width:100%">
  <div class="w3-container">
  <p>Regression Return</p>
  </div>
</div>
</div>

<div class="w3-third">
<div class="w3-card-4">
  <img src="/pics/MACD over time.png" alt="Car" style="width:100%">
  <div class="w3-container">
  <p>MACD Analysis</p>
  </div>
</div>
</div>

<div class="w3-third">
<div class="w3-card-4">
  <img src="/pics/stats.JPG" alt="Car" style="width:100%">
  <div class="w3-container">
  <p>Fama Stats Return</p>
  </div>
</div>
</div>
</div>

<div class="w3-container">
  <hr>
  <div class="w3-center">
    <h2>Tables</h2>
    <p w3-class="w3-large">Don't worry. W3.CSS takes care of your tables.</p>
  </div>
<div class="w3-responsive w3-card-4">
<table class="w3-table w3-striped w3-bordered">
<thead>
<tr class="w3-theme">
  <th>First Name</th>
  <th>Last Name</th>
  <th>Points</th>
</tr>
</thead>
<tbody>
<tr>
  <td>Jill</td>
  <td>Smith</td>
  <td>50</td>
</tr>
<tr class="w3-white">
  <td>Eve</td>
  <td>Jackson</td>
  <td>94</td>
</tr>
<tr>
  <td>Adam</td>
  <td>Johnson</td>
  <td>67</td>
</tr>
</tbody>
</table>
</div>

<hr>
<h2 class="w3-center">Forms and Lists</h2>
</div>

<div class="w3-row-padding">

<div class="w3-half">
<form class="w3-container w3-card-4">
  <h2>Input Form</h2>
  <div class="w3-section">      
    <input class="w3-input" type="text" required>
    <label>Name</label>
  </div>
  <div class="w3-section">      
    <input class="w3-input" type="text" required>
    <label>Email</label>
  </div>
  <div class="w3-section">      
    <input class="w3-input" type="text" required>
    <label>Subject</label>
  </div>

  <div class="w3-row">
  <div class="w3-half">
    <input id="milk" class="w3-check" type="checkbox" checked="checked">
    <label>Milk</label>
    <br>
    <input id="sugar" class="w3-check" type="checkbox">
    <label>Sugar</label>
    <br>
    <input id="lemon" class="w3-check" type="checkbox" disabled>
    <label>Lemon (Disabled)</label>
    <br><br>
  </div>

  <div class="w3-half">
    <input id="male" class="w3-radio" type="radio" name="gender" value="male" checked>
    <label>Male</label>
    <br>
    <input id="female" class="w3-radio" type="radio" name="gender" value="female">
    <label>Female</label>
    <br>
    <input id="unknown" class="w3-radio" type="radio" name="gender" value="" disabled>
    <label> Don't know (Disabled)</label>
  </div>
  </div>
</form>
</div>
<div class="w3-half">
<div class="w3-card-4 w3-container">
<h2>Lists</h2>
<ul class="w3-ul w3-margin-bottom">
  <li>Jill</li>
  <li>Eve</li>
  <li>Adam</li>
</ul>
<br>
<ul class="w3-ul w3-border w3-hoverable">
  <li class="w3-theme">Jill</li>
  <li>Eve</li>
  <li>Adam</li>
  <li>Steve</li>
</ul>
<br>
</div>
</div>
</div>
<hr>

<h2 class="w3-center">Progress Bars</h2>
<div class="w3-container">

<div class="w3-light-gray">
  <div id="myBar" class="w3-center w3-padding w3-theme" style="width:5%">5%</div>
</div><br>
<button class="w3-btn w3-theme" onclick="move()">Click Me</button> 
</div>
<hr>

<h2 class="w3-center">Slideshows</h2>
<div class="w3-content" style="max-width:800px;position:relative">

<img class="mySlides w3-animate-opacity" src="/w3images/snow.jpg" style="width:100%">
<img class="mySlides w3-animate-opacity" src="/w3images/lights.jpg" style="width:100%">
<img class="mySlides w3-animate-opacity" src="/w3images/mountains.jpg" style="width:100%">
<img class="mySlides w3-animate-opacity" src="/w3images/forest.jpg" style="width:100%">

<a class="w3-button w3-hover-dark-grey" style="position:absolute;top:45%;left:0;" onclick="plusDivs(-1)">❮</a>
<a class="w3-button w3-hover-dark-grey" style="position:absolute;top:45%;right:0;" onclick="plusDivs(+1)">❯</a>
</div>

<div class="w3-container">
<hr>
<h2 class="w3-center">Navigation</h2>

<div class="w3-bar w3-theme">
  <a href="#" class="w3-bar-item w3-button w3-padding-16">Home</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-16">Link 1</a>
  <div class="w3-dropdown-hover">
    <button class="w3-button w3-padding-16">
      Dropdown <i class="fa fa-caret-down"></i>
    </button>
    <div class="w3-dropdown-content w3-card-4 w3-bar-block">
      <a href="javascript:void(0)" class="w3-bar-item w3-button">Link 1</a>
      <a href="javascript:void(0)" class="w3-bar-item w3-button">Link 2</a>
      <a href="javascript:void(0)" class="w3-bar-item w3-button">Link 3</a>
    </div>
  </div>
</div>
  
<hr>
<h2 class="w3-center">Accordions</h2>
<button onclick="myAccFunc('Demo1')" class="w3-padding-16 w3-theme w3-button w3-block w3-left-align">Open Section 1</button>
<div id="Demo1" class="w3-hide">
  <div class="w3-container">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
</div>
<button onclick="myAccFunc('Demo2')" class="w3-padding-16 w3-theme w3-button w3-block w3-left-align">Open Section 2</button>
<div id="Demo2" class="w3-hide">
  <a href="#" class="w3-button w3-block w3-left-align">Link 1</a>
  <a href="#" class="w3-button w3-block w3-left-align">Link 2</a>
  <a href="#" class="w3-button w3-block w3-left-align">Link 3</a>
</div>
<button onclick="myAccFunc('Demo3')" class="w3-padding-16 w3-theme w3-button w3-block w3-left-align">Open Section 3</button>
<div id="Demo3" class="w3-hide w3-black">
  <div class="w3-container">
    <p>Accordion with Images:</p>
    <img src="img_snowtops.jpg" style="width:30%;" class="w3-animate-zoom">
    <p>French Alps</p>
  </div>
</div>

<hr>
<h2 class="w3-center">Tabs</h2>
<div class="w3-border">
<div class="w3-bar w3-theme">
  <button class="w3-bar-item w3-button testbtn w3-padding-16" onclick="openCity(event,'London')">London</button>
  <button class="w3-bar-item w3-button testbtn w3-padding-16" onclick="openCity(event,'Paris')">Paris</button>
  <button class="w3-bar-item w3-button testbtn w3-padding-16" onclick="openCity(event,'Tokyo')">Tokyo</button>
</div>

<div id="London" class="w3-container city w3-animate-opacity">
  <h2>London</h2>
  <p>London is the capital city of England.</p>
  <p>It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
</div>

<div id="Paris" class="w3-container city w3-animate-opacity">
  <h2>Paris</h2>
  <p>Paris is the capital of France.</p> 
  <p>The Paris area is one of the largest population centers in Europe, with more than 12 million inhabitants.</p>
</div>

<div id="Tokyo" class="w3-container city w3-animate-opacity">
  <h2>Tokyo</h2>
  <p>Tokyo is the capital of Japan.</p>
  <p>It is the center of the Greater Tokyo Area, and the most populous metropolitan area in the world.</p>
</div>
</div>

<hr>
<h2 class="w3-center">Buttons</h2>
<div class="w3-center">
  <br>
  <a class="w3-button w3-theme">Button</a>
  <a class="w3-button w3-theme">Button</a>
  <a class="w3-button w3-theme-d3 w3-disabled">Button</a>
  <br><br>
  <a class="w3-button w3-circle w3-large w3-black"><i class="fa fa-plus"></i></a>
  <a class="w3-button w3-circle w3-large w3-theme"><i class="fa fa-plus"></i></a>  
  <a class="w3-button w3-circle w3-large w3-card-4"><i class="fa fa-plus"></i></a>
</div>
<br>
<div class="w3-center">
  <div class="w3-dropdown-hover">
    <button class="w3-button w3-theme">Dropdown <i class="fa fa-caret-down"></i></button>
    <div class="w3-dropdown-content w3-bar-block w3-border">
      <a href="#" class="w3-bar-item w3-button">Link 1</a>
      <a href="#" class="w3-bar-item w3-button">Link 2</a>
      <a href="#" class="w3-bar-item w3-button">Link 3</a>
    </div>
  </div>
</div>

</div>

<hr>
<div class="w3-center">
  <h2>Pagination</h2>
  <!-- Pagination -->
  <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      <a href="#" class="w3-bar-item w3-button w3-hover-theme">«</a>
      <a href="#" class="w3-bar-item w3-button w3-theme w3-hover-theme">1</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-theme">2</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-theme">3</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-theme">4</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-theme">5</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-theme">»</a>
    </div>
  </div>
</div>
<br>

<!-- Footer -->
<footer class="w3-container w3-theme-dark w3-padding-16">
  <h3>Footer</h3>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
  <div style="position:relative;bottom:55px;" class="w3-tooltip w3-right">
    <span class="w3-text w3-theme-light w3-padding">Go To Top</span>    
    <a class="w3-text-white" href="#myHeader"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up"></i></span></a>
  </div>
  <p>Remember to check out our  <a href="w3css_references.asp" class="w3-btn w3-theme-light" target="_blank">W3.CSS Reference</a></p>
</footer>

<!-- Script for Sidebar, Tabs, Accordions, Progress bars and slideshows -->
<script>
// Side navigation
function w3_open() {
  var x = document.getElementById("mySidebar");
  x.style.width = "100%";
  x.style.fontSize = "40px";
  x.style.paddingTop = "10%";
  x.style.display = "block";
}
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}


// Tabs
function openCity(evt, cityName) {
  var i;
  var x = document.getElementsByClassName("city");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  var activebtn = document.getElementsByClassName("testbtn");
  for (i = 0; i < x.length; i++) {
    activebtn[i].className = activebtn[i].className.replace(" w3-dark-grey", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " w3-dark-grey";
}
document.getElementById('login-form').addEventListener('submit', async (event) => {
    event.preventDefault();

    const username = document.getElementById('username').value;
    const password = document.getElementById('password').value;
    //Debugging Line: console.log('Username: ${username}, Password: ${password}');

    const response = await fetch('/api/login', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ username, password })
    });

    const data = await response.json();
    //Debugging Line: console.log(data);
    if (response.ok) {
        // Save the token in local storage or a cookie
        localStorage.setItem('token', data.token);
        alert('Login successful!');
        // Close the modal
        document.getElementById('signInModal').style.display = 'none';
        window.location.href = '/GUI' //Redirect to the new page
    } else {
        alert('Login failed: ' + data.message);
    }
});

document.getElementById('create-account-form').addEventListener('submit', async (event) => {
    event.preventDefault();

    const username = document.getElementById('new-username').value;
    const password = document.getElementById('new-password').value;
    //Debugging Line: console.log('Username: ${username}, Password: ${password}');

    const response = await fetch('/api/create-account', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ username, password })
    });

    const data = await response.json();
    //Debugging Line: console.log(data);
    if (response.ok) {
        alert('Account created successfully!');
        // Close the modal
        document.getElementById('createAccountModal').style.display = 'none';
        // Optionally, you can log the user in directly or redirect them
    } else {
        alert('Account creation failed: ' + data.message);
    }
});


var mybtn = document.getElementsByClassName("testbtn")[0];
mybtn.click();

// Accordions
function myAccFunc(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}

document.getElementById('delete-account-form').addEventListener('submit', async (event) => {
  event.preventDefault();
  //Debugging Line: console.log('Delete account form submitted');
  
  const username = document.getElementById('del-username').value;
  const password = document.getElementByID('del-password').value;
  //Debugging Line: console.log('Username: ${username}, Password: ${password}');

  const loginResponse = await fetch('/api/login', {
    method: 'POST', 
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({username, password})
    }
  );
  const loginData = await loginResponse.json();
  //Debugging Line: console.log(loginData);

  if (loginResponse.ok) {
    const token = logindata.token;

    const deleteResponse = await fetch('/api/delete-account', {
      method: 'DELETE',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({username, token})
    });
    const deleteData = await deleteResponse.json();
    //Debugging Line: console.log(deleteData);
    
    if (deleteResponse.ok) {
      alert('Account deleted successfully!');
      document.getElementByID('deleteAccountModal').style.display = 'none';
    }
    else{
      alert('Account deletion failed: ' + deleteData.message);
    }
  }
  else{
  alert('Login Failed: ' + deleteData.message);
  }
});

// Slideshows
var slideIndex = 1;

function plusDivs(n) {
  slideIndex = slideIndex + n;
  showDivs(slideIndex);
}

function showDivs(n) {
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = x.length} ;
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}

showDivs(1);

// Progress Bars
function move() {
  var elem = document.getElementById("myBar");   
  var width = 5;
  var id = setInterval(frame, 10);
  function frame() {
    if (width == 100) {
      clearInterval(id);
    } else {
      width++; 
      elem.style.width = width + '%'; 
      elem.innerHTML = width * 1  + '%';
    }
  }
}
</script>

</body>
</html>